html, body {
  margin: 0;
  height: 100%;
}

body {
  background: url("./background.png") no-repeat center center fixed;
  background-size: cover;
  background-color: #666;
  overflow: hidden;
}

h1 {
  color: #668;
  font-size: 72px;
  margin-top: 40px;
  margin-bottom: auto;
  text-shadow: 2px 2px 0 #999;
}

#main {
  margin: 0;
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#preview {
  outline: 8px solid #eeb;
  outline-offset: 16px;
  width: 400px;
  height: 400px;
  border-radius: 20px;
  margin-top: auto;
  margin-bottom: auto;
  backdrop-filter: blur(20px);
  background-color: rgba(0,0,0,0.2);
  transform: translateY(200%);
  opacity: 0;
  transition: transform 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.2), opacity 0.5s ease-out;
}

#preview.hidden {
  visibility: hidden;
}

#preview.active {
  transform: translateY(0);
  opacity: 1;
}
